.pt-page-scaleDown {
    -webkit-animation: scaleDown 1s ease both;
    animation: scaleDown 1s ease both;
}

@-webkit-keyframes scaleDown {
    from {
    }
    to {
        opacity: 0;
        -webkit-transform: scale(.8);
    }
}


.pt-page-moveFromBottom {
    -webkit-animation: moveFromBottom 0.5s ease both;
    animation: moveFromBottom 0.5s ease both;
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }
}
