.result {
  background: #00AAFF;
  min-height: 100vh;
  @extend %flex-center;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;

  &__preview {
    width: 100%;
    height: auto;
    border-radius: 10px;
    font-size: 6vw;
    font-weight: 500;
    background: #fff;
    border: 5px solid black;
    position: relative;
    z-index: 2;
    padding: 15px;
    @extend %flex-center;
    flex-direction: column;

  }

  &__circle-progress-bar {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    @extend %flex-center;

    &:before {
      content: "";
      position: absolute;
      width: 10vh;
      height: 10vh;
      background: #fff;
      border-radius: 50%;
    }

    &__value {
      position: absolute;
      font-size: clamp(20px, 6vw, 32px);
    }
  }

  &__btn {
    color: #000;
    background: #fff;
    text-decoration: none;
    font-size: clamp(16px, 6vw, 40px);
    font-weight: 500;
    padding: 10px 30px;
    width: 75%;
    height: 8vh;
    @extend %flex-center;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px black;
    position: relative;
    z-index: 1;

    &:active {
      top: 10px;
      left: 10px;
      box-shadow: 0px 0px black;
    }
  }

  &__img {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 44vh;

    img {
      width: 35vw;
    }
  }

  &__oval-form-middle {
    height: 150vh;
    width: 35vh;
    border-radius: 70% 30% 70% 30% / 70% 30% 70% 20%;
    background: #91DAFE;
    position: absolute;
    transform: rotate(105deg);
  }

}

@media screen and (min-width: 600px) {

  .result {
    &__img {
      position: absolute;
      z-index: 2;
      right: 0;
      top: 44vh;

      img {
        width: 30vw;
      }
    }

  }
}