#app {
    position: relative
}

#lobby {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
}

body {
    font-family: 'Clash display', sans-serif;
    font-size: 16px;
    background: #FDFDFD;
}

h1 {
    font-family: 'Boxing', sans-serif;
}

section {
    height: 100vh;
    padding: 0 5vw;
    overflow: hidden;
    border: solid 5px black;
    position: relative;
    width: 100vw;
}

html, body {
    height: 100%;
}

.pt-page {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.pt-page-current, .pt-page {
    visibility: visible;
    z-index: 1;
}


.pt-page-ontop {
    z-index: 999;
}
